<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCccGyif2HsBtwjLcP21Eukp17eXvOAsII</string>
	<key>GCM_SENDER_ID</key>
	<string>585969882388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assessmentApplication1</string>
	<key>PROJECT_ID</key>
	<string>expense-manager-642fd</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-manager-642fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585969882388:ios:8992424f1f674cc08bde01</string>
</dict>
</plist>